:root {
    --gradient: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    --bottom-color1: violet;
    --bottom-color2: rgb(95, 61, 216);
}

body {
    background: var(--gradient);
}

.navigation {
    color: var(--gradient);
}
.about-me{

    color: rgb(12, 12, 12);
    display: block;
    margin: auto;
    text-align: center;
    width: 90%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight:500 !important;
    
}

.text{
    text-align: center;
    padding: 20px 20px 20px 20px;
    width: 500px;
    background-color: rgb(4, 242, 254);
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(70, 66, 66);
    
  
}

.bottom-about{
    border: 2px solid blueviolet;
    border-radius: 20px;
    background: var(--bottom-color1);
    color: aliceblue;
    font-size: larger;
    font-weight: 600;
    padding: 20px 30px;
    text-decoration: none;   
    box-shadow: 0 5px 10px;
}

.bottom-about:hover {
    background: var(--bottom-color2);
    cursor: pointer;

}
.bottom-contact
{
    border: 2px solid blueviolet;
    border-radius: 20px;
    color: white;
    background: var(--bottom-color2);
    text-decoration: none;
    padding: 20px 25px;
    box-shadow: 0 5px 10px;
    font-size: larger;
    font-weight: 600; 
}

.bottom-contact:hover {
    background: var(--bottom-color1);
    cursor: pointer;
}


.list{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    
}

.list a {
    margin: 0px 40px 0px 0px;
    
}

.index h1{
    padding-top: 20px;
    text-align: center;
    color: blueviolet;
    font-weight:bold;
    font-size:65px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.index h2{
    text-align: center;
    font-weight:bold;
    font-size:85px;
    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.index p{
    text-align: center;
    font-weight:bold;
    font-size:25px;
    font-family: Arial, Helvetica, sans-serif;
}


.back-link {
    font-weight: 600;
    font-size: 15px;
    color: rgb(0, 0, 4);
    text-align: center;
}

.box-back{
    text-align: center;
    margin-top: 20px;
}
.back-link:visited {
    color: rgb(0, 0, 4);
    }

    .main-about {
        text-align: center;
        font-weight:bold;
        font-size:65px;
        margin-top: -20px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: white;
   
    }
.FeD {
    text-align: center;
    font-weight:400 !important;
    font-size:35px !important;
    
    font-family: Arial, Helvetica, sans-serif;
    color: var(--bottom-color1);
    background: var(--bottom-color2);
}

.email-text {
   text-align: center;
   font-size: 55px !important;
}

.box-email {
    
    font-size: 35px !important;
    text-align: center;
    text-decoration: none;
    margin-top: -20px;
    
 }

 .btn {
    border-radius: 10px;
    background:  rgb(70, 66, 66);
    box-shadow: 0 5px 10px; 

 }

 .btn-text{
  color: aliceblue;
    
    font-weight: 47700;
   
    text-decoration: none;   
    
 }

 .btn:hover{
    background:  rgb(250, 250, 250) !important;
    
 }
 .btn-text:hover{
    color:black !important;
 }

 .main{
    color: blueviolet;
 }

 .bg{
    background-color: #e0c3fc;
 }

 .container-project{
    display: flex;
    justify-content: space-evenly;
    
 }

 